{% extends "base.html" %}
{% block title %} 搜尋書籍 {% endblock title %}
{% block headmessage %} 
{% endblock headmessage %} 

{% block content %}

<form method="GET" action="{% url 'search_books' %}">
  {{ form.as_p }}
  <button type="submit">搜尋</button>
</form>

{% if books %}
  <ul>
      {% for book in books %}
          <li style="list-style: none;"><a href="{% url 'showpost' slug=book.slug %}">{{ book.title }} - {{ book.author }}</a></li>
      {% endfor %}
  </ul>
{% elif search_query %}
  <p>找不到相關書籍</p>
{% endif %}

{% endblock content %}
