{% extends 'base.html' %}
{% load markdown_extras %}
{% block title %} {{ post.title }} 書本資訊 {% endblock %}
{% block headmessage %}
    <h3 style='font-family:微軟正黑體;'>{{ post.title }}</h3>
{% endblock %}
{% block content %} 
        <p style='font-family:微軟正黑體;letter-spacing:2pt;'>
            {{post.image | safe}}<br><br>
            作者： {{post.author}}<br>
            出版日期： {{post.pub_date}}<br><br>
            章節： {{post.chap | convert_markdown | safe}}<br>
            內容簡介：{{ post.body | convert_markdown | safe}}
        </p>
        <br><br><br><br><br>
        <a style='font-family:微軟正黑體;text-align: right;' href='/'>回首頁</a>
{% endblock %}